
/*`sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .video-carousel .carousel .carousel-item iframe {
        width: auto;
    }
    .main-news span{
        display: none;
    }
}

/*`md` applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    
}

/*`lg` applies to medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    .overlay{
        width:auto
    }
    .big-news{
        display: none;
    }
    .card .head{
        display:none
    }
    .card header{
        display: none;
    }
    .navbar{
        background-color: #fff;
    }
    .navbar .navbar-brand img{
        width:260px
    }
    .navbar .navbar-collapse {
        background-color: #0c0c0c;
        text-align: center;
    }
    .navbar .search{display: none;}
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 20px;
        border-bottom: 1px solid #dddddd38;
        padding: 1rem;

    }
    .row.border .news-topic:first-child{
        margin-bottom: 1rem;
    }
    .main-news .card{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .video-carousel .carousel-indicators {
        position: relative;
        display: flex;
    }
    .video-carousel .card .card-body{
        display:none
    }
    .video-carousel #carouselExampleIndicators {
        flex-direction: column-reverse;
        display: flex;
    }
    .video-carousel .carousel-indicators [data-bs-target]{
        margin:auto 10px
    }
    footer .mainFooter article{
        border-top:1px solid #dddddd6b;
        padding-top: 1rem;
    }
    .copyRight{
        text-align: center;
        justify-content: center;

    }
    .sub .nav-item .nav-link{
        color:#fff
    }
    .section-item{
        margin-bottom: 1rem;
    }
    .section-item aside{
        display:none
    }
    .section-item .social-share.list-group-horizontal .list-group-item{
        padding:5px
    }
.section-item .social-share.list-group-horizontal .list-group-item p span{
    display: none;
}
}

/*`xl` applies to large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 
    .list-group-horizontal .list-group-item,
    .main-news .list-group-horizontal .list-group-item{
        padding: 1px ;
    }
    .main-news .card .img-card span{
        font-size: 12px;
    }
    .main-news .card .card-body p{
        font-size: 13px;
    }
}

/*`xxl` applies to x-large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) { 
    
}
/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 992px) { 
    .navbar .navbar-brand{
        display: none;
    }
    .navbar .btn-sign{
        display:none
    }
    .navbar .search{
        display:none
    }
}

